<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight Information</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        {{failmsg|safe}}
        <h1 class="card-title">Flight Details</h1>
      </div>
   <p><strong>
       
    <input type="hidden" name="hid" value="{{s|safe}}">
    {{s}}
   </strong></p>
      <div class="card-body">{% for values in processed_rows%}
        <p><strong>Flight Number:</strong>{{values[3]|safe}} </p>
        <p><strong>Origin:</strong>{{values[0]|safe}}</p>   
        <p><strong>Destination:</strong>{{values[1]|safe}} </p>
        <p><strong>Number of Passengers:</strong>{{values[7]|safe}} </p>
        <p><strong>Price:</strong>{{values[2]|safe}} </p>
       <form action="/Billbef" method="post">
        <button type="submit">Book</button>
        
       </form> 
        {% endfor %}
   
      </div>
    </div>
  </div>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
  function reloadpage(){
    location.reload();
}
window.addEventListener('pageshow',function(event){
    if(event.persisted){
        reloadpage();
    }
    
});

  </script>
</body>
</html>
